div#gameOfLife {
  background-color: white;
  margin: auto;
  width: 1024px;
  height: 1024px;
  padding: 0; }

div#browserNotSupported {
  display: none;
  background-color: #eee;
  border: 1px solid black;
  padding: 1em; }
